.detail p{
    font-weight: bold;
    font-size: 1.2rem;

}

 .detail{
    display:  flex;
    align-items: center;
    flex-direction: column;
    height: 50%;
    gap: 20px;
  
}
 span{
    font-weight: bold;
    font-size: 1rem;
}