.searchbox{
    width: 30%;
    height: 50px;

    display: flex;
    margin-top: 20px;
    

}

.searchbox input{
    width: 77%;
    outline: 1px solid #a6a6e7;
    border: none;
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
    padding-inline-start: 15px;
    font-weight: bold;
}
.searchbox button{
    width: 20%;
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
    border: none;
    border-top: 1px solid rgb(170, 170, 175);
    border-bottom: 1px solid rgb(170, 170, 175);
    border-right: 1px solid rgb(170, 170, 175);
    background-color: transparent;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    font-size: 1.3rem;
    
}
.searchbox .btn:hover{
    border: 1px solid rgb(170, 170, 175);
    background-color: rgb(61, 61, 78);
}